* {
    font-family: 'Trebuchet MS', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    display: flex;
    background-color: #ffffcc;
    align-items: center;
    justify-content: space-between;
    margin: 15px;
}

.logo {
    flex: 3;
}

.head-links {
    flex: 1;
    display: flex;
    gap: 30px;

}

.head-links a:link {
    color: #ff6600;
    font-weight: 900;
    font-size: large;
}
.head-links a:visited {
    color: #ff6600;
    font-weight: 900;
    font-size: large;
  }

.welcome {
    display: flex;
    background-color: #ffffcc;
    margin: 15px;
    align-items: center;
       
}

.welcome .text {
    display: flex;
    flex-direction: column;
    padding: 100px;
    padding-bottom: 150px;
    gap: 15px;
}

.welcome .image {
    padding: 100px;
}

.welcome .text .first {
    font-weight: 900;
    font-size: larger;
}

.welcome .text .second {
    font-size: large;
}

.welcome .text .third {
    color: #ff6600;
    font-weight: 900;
    font-size: large;
}

.middle {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    background-color: #ffffcc;
    margin: 15px;
    padding: 35px;
}

